In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Smartprice/car_prices.csv', on_bad_lines='skip')
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

### Data Explorations

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558811 entries, 0 to 558810
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558811 non-null  int64
 1   make          548510 non-null  object
 2   model         548412 non-null  object
 3   trim          548160 non-null  object
 4   body          545616 non-null  object
 5   transmission  493458 non-null  object
 6   vin           558811 non-null  object
 7   state         558811 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558717 non-null  float64
 10  color         558062 non-null  object
 11  interior      558062 non-null  object
 12  seller        558811 non-null  object
 13  mmr           558811 non-null  int64
 14  sellingprice  558811 non-null  int64
 15  saledate      558811 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.2+ MB

In [5]:
df.isna().sum()/df.shape[0]

year            0.000000
make            0.018434
model           0.018609
trim            0.019060
body            0.023613
transmission    0.116950
vin             0.000000
state           0.000000
condition       0.021106
odometer        0.000168
color           0.001340
interior        0.001340
seller          0.000000
mmr             0.000000
sellingprice    0.000000
saledate        0.000000
dtype: float64

In [6]:
#outlier detection
#TODO:
'''
1. handle outliers
2. handle nulls
'''

'\n1. handle outliers\n2. handle nulls\n'

In [7]:
df=df.dropna()

In [8]:
df.isna().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [9]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [10]:
df.head(1)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [11]:
cols_to_remove=['vin','seller','year','saledate','make','model','trim','state']
df.drop(cols_to_remove,axis=1,inplace=True)
df.columns

Index(['body', 'transmission', 'condition', 'odometer', 'color', 'interior',
       'mmr', 'sellingprice'],
      dtype='object')

In [12]:
from dateutil import parser as date_parser

# df['saledate']=df['saledate'].apply(lambda x:date_parser.parse(x))
# df['saledate']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472336 entries, 0 to 558810
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   body          472336 non-null  object
 1   transmission  472336 non-null  object
 2   condition     472336 non-null  float64
 3   odometer      472336 non-null  float64
 4   color         472336 non-null  object
 5   interior      472336 non-null  object
 6   mmr           472336 non-null  int64
 7   sellingprice  472336 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 32.4+ MB

In [14]:
# df['saledate']=pd.to_datetime(df['saledate'],utc=True)
# df.info()

In [15]:
# df['seller'].value_counts()

In [16]:
#FeatureEngg
df.head()

,body,transmission,condition,odometer,color,interior,mmr,sellingprice
0,SUV,automatic,5.0,16639.0,white,black,20500,21500
1,SUV,automatic,5.0,9393.0,white,beige,20800,21500
2,Sedan,automatic,4.5,1331.0,gray,black,31900,30000
3,Sedan,automatic,4.1,14282.0,white,black,27500,27750
4,Sedan,automatic,4.3,2641.0,gray,black,66000,67000

In [17]:
'''
TODO:
1. year from selling
2. 
'''
# df['years_in_service']=df['saledate'].dt.year-df['year']
# df['years_in_service'].head()

'\nTODO:\n1. year from selling\n2. \n'

In [18]:
df.columns

Index(['body', 'transmission', 'condition', 'odometer', 'color', 'interior',
       'mmr', 'sellingprice'],
      dtype='object')

In [19]:
df['condition']=df['condition'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472336 entries, 0 to 558810
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   body          472336 non-null  object
 1   transmission  472336 non-null  object
 2   condition     472336 non-null  category
 3   odometer      472336 non-null  float64
 4   color         472336 non-null  object
 5   interior      472336 non-null  object
 6   mmr           472336 non-null  int64
 7   sellingprice  472336 non-null  int64
dtypes: category(1), float64(1), int64(2), object(4)
memory usage: 29.3+ MB

In [20]:
cat_col=[col for col in df.columns if df[col].dtype=='object']
cat_df=df[cat_col]
num_df=df.drop(cat_col,axis=1)
cat_df.head()

    body transmission  color interior
0    SUV    automatic  white    black
1    SUV    automatic  white    beige
2  Sedan    automatic   gray    black
3  Sedan    automatic  white    black
4  Sedan    automatic   gray    black

In [21]:
output=num_df['sellingprice']
num_df=num_df.drop(['sellingprice'],axis=1)

In [27]:
print(len(output))

472336

In [31]:
one_hot_df=pd.get_dummies(cat_df).reset_index()
import pandas as pd
from sklearn import preprocessing

x = num_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
num_df = pd.DataFrame(x_scaled,columns=num_df.columns)

In [33]:
num_df.shape[0]

472336

In [34]:
fin_df=pd.concat([num_df,one_hot_df],axis=1)
fin_df.head()

,condition,odometer,mmr,index,body_Access Cab,body_Beetle Convertible,body_CTS Coupe,body_CTS Wagon,body_CTS-V Coupe,body_CTS-V Wagon,...,interior_green,interior_off-white,interior_orange,interior_purple,interior_red,interior_silver,interior_tan,interior_white,interior_yellow,interior_—
0,1.000,0.016638,0.112515,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.000,0.009392,0.114164,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.875,0.001330,0.175161,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.775,0.014281,0.150982,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.825,0.002640,0.362550,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
fin_df.shape[0]

472336

In [36]:
#traintest splitt
#linear regression
#baseline
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(fin_df, output, test_size=0.33, random_state=42)

In [37]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)

0.9737433600536879

In [40]:
y_pred=reg.predict(X_test)
assert len(y_pred)==len(y_test),"Length mismatch"

In [45]:
from sklearn.metrics import mean_absolute_error, r2_score
print("Coefficients: \n", reg.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_absolute_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [ 3.72901803e+03  5.05619730e+03  1.75106471e+05  2.83228146e-04
 -1.82798598e+02 -6.39677732e+02  2.91806500e+02 -5.43658756e+02
 -3.94936187e+02  1.02717414e+04 -4.16745572e+02 -2.30808826e+02
 -2.02668622e+02 -9.91047360e+01  1.82775442e+01 -4.65582391e+01
  4.60055957e+02 -2.04096074e+02 -5.27565654e+02 -6.14876075e+02
 -1.10491255e+02  2.24451726e+02 -2.07491418e+02 -2.23497906e+02
 -1.84235030e+02 -1.11444638e+03  1.86738185e+02  1.14241607e+02
 -3.90495244e+02 -1.22213105e+02 -1.82796076e+02  5.89143989e+02
 -2.00598099e+02  2.53048108e+02  1.51715066e+03 -4.01163804e+02
 -1.94260986e+02 -7.27595761e-12 -2.29957396e+02 -3.31834664e+02
 -2.53252804e+02 -3.23067142e+02 -4.47155368e+02  6.62929325e+02
 -7.99221532e+02 -1.34178416e+02 -2.99609345e+02 -3.97629050e+02
 -3.87343341e+02 -3.43717884e+02  5.45696821e-12  1.05278051e+03
 -2.27475147e+02 -1.06939254e+02  8.68349170e+01  5.58006606e+02
 -9.14674397e+02  1.35858966e+02  2.20306552e+02  1.43386560e+01
 -2.17908659e+02 -6.53117234e+02 -1.34229216e+00  1.65112706e+02
 -2.64168917e+02 -2.09942670e+02  8.39067924e+02 -2.18301131e+02
 -2.22470412e+02 -4.43802374e+02  4.85135860e+01 -7.76288204e+02
  1.96542737e+02 -1.37157762e+02 -1.23196464e+03  3.95371556e+02
  4.32663571e+02 -3.28409943e+01 -1.78517552e+02 -6.22073273e+01
 -2.69514478e+02  4.75305273e+01 -8.88290208e+01 -3.30499836e+02
 -1.38945960e+03 -9.23490451e+00 -1.53459196e+02 -3.90761573e+02
  1.13051507e+03  8.28261214e+01 -8.28261214e+01 -8.66974812e+01
 -8.18679552e+00 -1.02504149e+02 -1.78277723e+02 -2.96460062e+01
 -9.77432524e+01  3.85542536e-02 -6.98849613e+01 -7.83267598e+01
  6.33059836e+02  2.20734970e+02  9.08576295e+01 -2.64643209e+02
 -1.52781053e+02 -1.56209696e+01 -6.97838503e+01 -9.45109298e+01
  1.38583731e+01  3.58820247e+02 -6.87624697e+01 -1.26831728e+02
 -2.33563549e+02  3.93403750e+01 -3.29731603e+01  1.56865820e+02
 -3.14418521e+02 -2.23933082e+02 -1.02440817e+02  7.44132822e+01
  4.59711133e+02  7.48436618e+01  2.52835620e+02  3.46336076e+01
 -1.85067573e+02  1.43086313e+02  2.79286898e+02 -2.95788279e+02]
Mean squared error: 983.89
Coefficient of determination: 0.97